<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>114786882183-66lmrpjenk90audc82dl5l2opoung46p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.114786882183-66lmrpjenk90audc82dl5l2opoung46p</string>
	<key>API_KEY</key>
	<string>AIzaSyCQeLmqHwfaQQGxuUBON0eov0vAS4K-R3U</string>
	<key>GCM_SENDER_ID</key>
	<string>114786882183</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.base</string>
	<key>PROJECT_ID</key>
	<string>base-34f0b</string>
	<key>STORAGE_BUCKET</key>
	<string>base-34f0b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:114786882183:ios:d762d6a1f5c34e0b6f9e22</string>
</dict>
</plist>